* {
    margin: 0px;
    padding: 0px;font-family: 'Roboto', sans-serif;
}


/* flower-header styling */

.heading-2{

font-size: 30px;
margin-bottom: 20px;

}

.flower-header {

background: rgba(229, 84, 115, 0.10);
display: flex;
width: 100%;
   

}

.flower-banner {
    
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
  
}

.btn-first {

background: #E55473;
border-radius: 5px;
border: 0;
width: 110px;
height: 37PX;
display: flex;
color: white;
font-size: 20px;
padding: 5px;
margin-top: 20px;
font-weight: 400;

}


.header-pic {

margin-top: 30px;
width: 400px;
height: 380px;

}

/* first-feature styling */


.first-feature{

width: 100%;  
text-align: center;
margin: auto;


}

    
.feature-container{
        
display: flex;
width: 800px;
justify-content:center;
padding: 80px 0px;
gap: 20px;
align-items: center;
margin: auto;
  
    
}
    
.feature-description{
    
font-size: 25px;
font-family: 'Roboto', sans-serif;
    
}

.feature-pic{

height: 300px;
width: 350px;
border-radius:50% 50% 0px 0px ;
margin-right: 30px;
    
}
    
.image{

width: 150px;
height: 150px;
padding-top:80px;
padding-left:20px ;
    
}
    
.anchor {

margin-top: 10px;
font-size: 25px;
text-align: center;
font-family: 'Roboto', sans-serif;
    
}
    
.anchor a{

color:#272727 ;
    
}
    

.pic-2 {

border-radius: 300px 300px 0px 0px;
padding: 10px;
background: rgba(167, 33, 98, 0.15);
height: 200px;
width: 100%;

}


/* section second-feature styling */

.second-feature {

width: 100%;
height: 70%;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
align-items: center;
justify-content: center;
    
}

.container-second{

width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;


}


.second-div{
   
height: 300px;
width: 300px;
margin: 5px;

}

.delivery-man{

width: 150px;
height: 150px;
margin: 20px;


}


/* section third-feature styling */

.container-third {

width: 100%;
height: 420px;
flex-direction: row;
margin-top: 50px;
margin-bottom: 50px;
    
}


.special-flower{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;

}


.div{

height: 220px;
width: 220px;
border-radius: 10px;
    
}


.circle-picture {

margin-top: 50px;
margin-bottom: 30px;
border-radius: 10px;
padding: 20px;
display: inline;
        
}


/* section four-feature styling */


.four-feature{

width: 100%;
height: 400px;
display:flex;
margin-bottom: 30px;
justify-content:center;
align-items: center;
background-image: url('../images file/Flower Asset/Rectangle 9.png');
background-repeat: no-repeat;
background-size: cover;
 
}

.container-four{

width: 100%;


}
.heading-2{

text-align: center;
    
}
    
.feature-description{
    
text-align: center;
    
}

.email{

width: 300px;
height: 40px;
margin-top: 30px;
margin-left: 520px;


}

.btn-1-first {

height: 40px;
width: 100px;
margin: auto;
background: #E55473;
border: 0px;
border-radius: 5px;

}

/* section five-feature styling */

.five-feature {

width: 100%;
height: 70%;
gap: 30px;
margin-top: 30px ;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
       
}


.hot-deal {
    
width: 50%;
display: flex;
padding: 20px;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

      
}



.hot-flower{

width: 30%;
height: auto;
    
}


.hot-heading{

margin-top: 80px;
text-align: center;

}

.hot-description{

text-align: center;
margin-top: 30px;

}

.hot-btn{

width: 110px;
height: 37px;
background: #E55473;
border-radius: 5px;
border: 0;
margin-top: 30px;
margin-bottom: 20px;
    
}


.hot-image{

width: 350px;
height: 350px;

}


/*section extra-six-feature styling*/

.six-feature{

width: 100%;

}


 .container-6 {

width: 100%;
height: 420px;

}

.top-flower-heading{

text-align: center;
font-size: 30px;
padding-top: 20px;
margin-bottom: 20px;



    
}


.div{

height: 220px;
width: 220px;
border-radius: 10px;

}

.circle-picture {

margin-top: 40px;
margin-bottom: 30px;
border-radius: 10px;
padding: 15px;
display: inline;
    
}

.favourite-flower11{

display: flex;
flex-direction: row;
justify-content: center;align-items: center;
padding: 20px;

}


/* section seven-feature styling */


.seven-feature{

margin-top: 50px;
width: 100%;
height: 300px;
background: #111010;

}

.footer-heading{

font-size: 48px;
padding-top: 30px;
color: rgba(255, 255, 255, 0.90);
text-align: center;
margin-bottom: 10px;


}


.span-style{

color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.footer-description{

color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 

}

.footer-description-1{

margin-top: 30px;
color: rgba(255, 255, 255, 0.90);
text-align: center;
}


@media screen and (max-width:576px) {
    

/* header section */

.flower-header{

width: 100%;
height: 100%;
align-items: center;
flex-direction: column;
margin-bottom: 20px;

}

.header-pic {

width: 200px;
height: 200px;

}

/* feature-section */

.feature-section {

width: 100%;
height: 180%;
margin-bottom: 20px;
    
}


.feature-container{

width: 100%;
flex-direction: column;
align-items: center;

}


.heading-2{

margin-top: 20px;
font-size: 22px;

}

.feature-description{

font-size: 16px;
margin-top: 20px;


}

.feature-pic{

width: 200px;
height: 250px;


}


.image{


margin-top: 20px;
width: 100px;
height: 100px;

}

.anchor{

font-size: 16px;

}

/* second-feature  */

.second-feature{

width: 100%;
height: 100%;
margin-bottom: 20px;


}


.container-second{

width: 100%;
height: 300px;
flex-direction: column;
    
}

.second-div{

margin-left: 60px;
width: 200px;
height: 230px;

}


.pic-4{

width: 150px;
height: 150px;


}

/* third-feature */

.third-feature{

width: 100%;
height: 198%;
    
 
}

.special-flower{

flex-direction: column;
margin-top: 220px;
height: 400px;
margin-bottom: 30px;
        
}


.heading-2{

margin-top: 20px;
font-size: 22px;
text-align: center;
    
}


/* four-feature */


.four-feature{

display: block;
width: 100%;
height: 50%;
margin-bottom: 20px;
align-items: center;

        
}

.heading-2{

font-size: 22px;
padding-top: 50px;

}


.feature-description{

font-size: 16px;
margin-top: 20px;


}

.email{

align-items: center;
width: 220px;
margin: 30px 20px auto 120px ;

}

.btn-1-first{

width: 100px;


}

/* five-feature styling*/


.five-feature {

height: 130%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
     
}


.hot-deal {
    
margin-top: 10px;
    
}


.hot-image{

width: 250px;
height: 250px;
margin-top: 10px;
margin-left: 40px;

}

.hot-flower{

width: 350px;
height: 400px;
        
}


/*section extra-six-feature styling*/

.six-feature{

width: 100%;
height: 130%;

}

.favourite-flower11{

flex-direction: column;

    
}

/* section seven-feature styling */

.seven-feature{

margin-top: 40px;
text-align: center;


}


}


